@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.country-detail{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;
    background: #383CD6;
    border-radius: 20PX;
}
.country-detail img{
    width: 40%;
    height: 250px;
    border-radius: 20px 0 0 20px;

}
.detail-title{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #EFC32D;
    text-align: center;
}

.detail-body{
    width: 60%;
    padding: 10px;
}

.description{
    font-family: 'Montserrat', sans-serif;
    margin: 5px;

}

.description-name{
    color: #EFC32D;
    font-weight: bolder;
}
.desc-property{
    color: white
}