@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-form{
    height: 85vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    opacity: 0;
    animation: apearence 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
.main-form h2{
    font-family: 'Pacifico', cursive;
    color: #8C969C;
    font-size: 40px;
}
.form-cont{
    width: 35%;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #DEDEDE;
    border-radius: 20px;
}

.input{
    width: 200px;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    text-align: center;
    background: transparent;
    margin: 2px;
}
.input::-ms-expand{
    display: none;
}

.input::focus{
    outline: none;

}

.error{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;

}
.error span{
    font-size: 16px;
}

.success{
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.success span{
    font-size: 16px;
}
button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: black;
    border: none;
    cursor: pointer;
}

button#disabled{
    background: #dedede;
}
.input-country{
    border: 1px solid #dedede;
    margin: 5px;
    text-align: center;
}
.input-country::-webkit-scrollbar {
    width: 0;
  }

  .input-country:-webkit-scrollbar-thumb {
    background-color: #8C969C;
    border-radius: 5px;
  }
  .input-country::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .label-desc{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
  }
  .section-left{
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.section-left p{
    font-family: 'Nunito Sans', sans-serif;
}
.title-make{
    height: 20%;
}
.alert{
    width: 35vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid #dedede;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    opacity: 0;
    animation: apearence 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.succes{
    color: green;
    font-family: 'Nunito Sans', sans-serif;
}
.exist{
    color: red;
    font-family: 'Nunito Sans', sans-serif;
}

.close{
    width: 30px;
    height: 30px;
    background: red;
    border:1px solid red;
    text-align: center;
    padding: 2px;
    color: white;
    border-radius: 50%;
    font-size: 30;
    cursor: pointer;
}

.close span{
    text-align: center;
    color: white;
    font-size: 18px;
}