@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.card-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    width: 200px;
    padding: 15px;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;

}
.card-cont:hover{
    transform: scale(1.05);
}


.card-cont img{
    width: 100%;
    height: 130px;
    border: 1px solid #DEDEDE;
}
.card-body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.card-body h2{
    color: black;
    font-size: 16px;
    text-align: center;
}
.card-body p{
    color: black;
    font-size: 16px;
}

.link-detail{
    text-decoration: none;
    padding: 5px;
    background: black;
    font-size: 12px;
    color: white;
    border-radius: 20px;
}