.main-detail{
    height:auto;
    width: 100vw;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.country-info{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../assets/img/world.png");
    background-size: contain;
    background-position: center;
}
.info-card{
    width: 300px;
    height: 430px;
    background: white;
    border-radius: 20px;
    border: 2px solid #517A94;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.info-card h2{
    margin: 10px 0 10px 0;
    font-size:18px;
    font-family: 'Pacifico', cursive;
    color:#517A94;
    text-align: center;
    letter-spacing: 2px;
}

.info-card img{
    width: 100%;
    height: 150px;
}
.info-card p{
    color:#517A94;
    margin: 3px 0 3px 0;
}
.info-card .description{
    font-weight: bold;

}

.activities-button{
    text-decoration: none;
    color: white;
    background:#517A94;
    margin: 10px 0 0 0;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}
