@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.paginate{
    list-style: none;
    display:flex ;
    padding: 20px;
}
.paginate li{
    margin: 10px;
    cursor: pointer;
    width: 20px;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.page{
    border-bottom:1px solid black;
}