@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.searchbar-cont{
    width: 100%;
    min-height: 200px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width: 100%;
    max-width: 400px;
    background: white;
    border:  1px solid #dedede;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border:0;
    outline:none;
    font-size:20px;
    color: #8C969C;
    font-family: 'Montserrat', sans-serif;
}
::placeholder{
    color: #8C969C;
    font-family: 'Montserrat', sans-serif;
}

.search-bar button img{
    width: 16px
}   
.search-bar button{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #8C969C;
    cursor: pointer;

}