.cards-cont{
    width: 95%;
    height: 110vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    background: url("../../assets/img/world.png");
    background-size: contain;
    background-position: center;

}
.no-exist{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}