
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.link-title{
    text-decoration: none;
}
.nav-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background: #699EBF;
}

.div-title{
    padding: 5px;
    margin: 10px;
}
.div-img{
    padding: 5px;
    height: auto;
}
.div-links{
    display: flex;
    width: 30vw;
    height: auto;
    padding: 10px;
    flex-direction: row;
    align-items:center ;
    justify-content: space-around;
}
.link{
    margin: 5px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#active{
    border-bottom: 2px solid white ;
    font-weight: bold;
}